.image1 img{ 
    width: 100px;
  height: 100px ;

  }
  nav{

    width :100%;
    position:absolute;
    top: 0.1em;;
    left: 100px;
    align-items: center;
  }
  .menu {
    margin: 0;
    padding: 38px;
    height: 21px;
    background-color: #9a5dc2f2;
    display: flex;
    justify-content: space-around;
    font-size: xx-large;  
}
.menu ul li {
    color: #ffffff !important;
}
body {
    background-color: #7929ae2b;
   
    
}
.Depart {
  position: relative;
  font-family: Arial;
}
.Depart select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: DodgerBlue;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
footer {
  /* margin-top: auto; */
  width :100%;
  background-color: #7f2bb7f2;
  font-family: 'Righteous', cursive;
  padding: 38px;
    bottom:0;
    left: 100px;

}


#social-media {
  background-color: #7f2bb7f2;
  position: absolute;
    bottom: 18px;
    text-align: center;
    left: 90%;
    font-weight: bold;
    
}

/* #social-media p {
  margin: 0 20px 20px 0;
} */

#copy-rights {
  background-color: #7f2bb7f2;
  font-weight: bold;
  position: absolute;
 bottom: 18px;
  text-align: center;
  left: 540px;
  color: blanchedalmond;
  position: fixed;
  text-align: center;
}