.image1 img{ 
    width: 100px;
  height: 100px ;

  }
  nav{

    width :100%;
    position:absolute;
    top: 0.1em;;
    left: 100px;
    align-items: center;
  }
  .menu {
    margin: 0;
    padding: 38px;
    height: 21px;
    background-color: #7f2bb7f2;
    display: flex;
    justify-content: space-around;
    font-size: xx-large;  
}
.menu ul li {
    color: #ffffff !important;
}
body {
    background-color: #7929ae2b;
   
    
}


footer {
  /* margin-top: auto; */
  width :100%;
  background-color: #7f2bb7f2;
  font-family: 'Righteous', cursive;
  padding: 38px;
    bottom:0;
    left: 100px;

}


#social-media {
  background-color: #7f2bb7f2;
  position: absolute;
    bottom: 18px;
    text-align: center;
    left: 90%;
    font-weight: bold;
    
}

/* #social-media p {
  margin: 0 20px 20px 0;
} */

#copy-rights {
  background-color: #7f2bb7f2;
  font-weight: bold;
  position: absolute;
 bottom: 18px;
  text-align: center;
  left: 540px;
  color: blanchedalmond;
  position: fixed;
  text-align: center;
}